<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>poi</title>
<script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>

</head>
<body>
<script type="text/javascript">
function selectArticle ( obj ) {
	var formname = obj.getAttribute('name');
	document.forms[formname].submit();
}
function confirmLogout ( obj ) {
    if(!confirm('本当に削除しますか？')){
        /* キャンセルの時の処理 */
        return false;
    }else{
    	/* OKの時の処理 */
    	var logputUrl = obj.getAttribute('name');
    	location.href =　logputUrl;
    }	
}
</script>
	<h1>Poi</h1>
	<div th:text="${message}"></div>
	<div class="count">
		You have <span th:text="${articleCount}">0</span> memo...
	</div>	
	<form th:action="@{/member/top}" method="get">
		<input type="button" value="Poi" />
	</form>
	<form th:action="@{/member/create}" method="get">
		<input type="submit" value="create!" />
	</form>
	<a href="setting.html" th:href="@{/member/setting}">ユーザー設定</a>
	<a href="">ヘルプ(未実装)</a>
	<a href="" th:name="@{/member/logout}" onclick="confirmLogout(this); return false;">ログアウト</a>	
	
	<form th:action="@{/member/setting}" method="get">
		<input type="submit" value="setting!" />
	</form>
	<form th:action="@{/member/search}" method="post">
		<select class="category" name="category">
			<option value="">Category</option>
			<option th:each="category : ${categoryList}"><span th:text="${category}"></span></option>
		</select>
		<select class="level" name="level">
			<option value="0">Level</option>
			<option value="1">Level1</option>
			<option value="2">Level2</option>
			<option value="3">Level3</option>
			<option value="4">Level4</option>
			<option value="5">Level5</option>
		</select>	
		<input type="submit" value="Search!" />
	</form>
	
	<div th:text="${resultNoArticle}"></div>
	
	<div class="main">
	<h3 th:text="${headerStr}"></h3>
		<div class="post" th:each="article : ${resultArticleList}">
			<form th:name="form + *{article.id}" method="post" th:action="@{/member/select}">
			<a href="" th:name="form + *{article.id}" onclick="selectArticle(this);return false;">
				<img src="../images/icon-edit.png" id="updateArticle" th:attr="src=@{/images/icon-edit.png},alt=#{icon-edit}" />
				<span th:hidden="*{article.id}"></span>
				<span th:text="*{article.level}"></span>
				<span th:text="*{article.title}"></span>
				<span th:text="*{article.updatedAt}"></span>
				<input type="hidden" name="articleId" th:value="*{article.id}" />
				<input type="hidden" name="categoryStatus" th:value="${categoryStatus}" />
				<input type="hidden" name="levelStatus" th:value="${levelStatus}" />
				</a>
			</form>
		</div>
	</div>
</body>
</html>