<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>poi</title>

<link rel="stylesheet" th:href="@{/css/style.css}" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link type="text/css" rel="stylesheet" th:href="@{/css/materialize.css}"
	media="screen,projection" />
<script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/materialize.js}"></script>
<script type="text/javascript" th:src="@{/js/poi.js}"></script>
</head>
<body>
  <nav class="red darken-4">
    <div class="nav-wrapper">
      &nbsp;&nbsp;&nbsp;
      <a href="index.html" th:href="@{/}" class="brand-logo left">Poi</a>
      <ul class="right">
		<li><a href="top.html" th:href="@{/member/top}">MyPage</a></li>
		<li><a href="setting.html" th:href="@{/member/setting}">Setting</a></li>
		<li class="divider"></li>
		<li><a href="" th:name="@{/member/logout}"
			onclick="confirmLogout(this); return false;">Logout</a></li>
		<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
      </ul>
      <div class="nav-content">
	      <a class="btn-floating btn-large halfway-fab waves-effect waves-light cyan" href="create.html" th:href="@{/member/create}">
	        <i class="material-icons">add</i>
	      </a>
	  </div>
	  </div>
  </nav>
	<div class="row">
		<div class="col s12 m12 l4">
			<div class="col s2 m3 l1"></div>
			<div class="col s8 m6 l10 center-align">
				<div th:text="${message}"></div>
				<div class="count">
					<span>You have <span th:text="${articleCount}">0</span>
						memo...
					</span>
				</div>
				<div th:if="${articleCount == 0}">
					<p>
						<img src="../images/water_winter_0.png" id="fishes" />
					</p>
				</div>
				<div th:if="${articleCount != 0}">
					<p>
						<script type="text/javascript">
							var imglist = new Array("../images/water_winter_1.png",
									"../images/water_winter_2.png",
									"../images/water_winter_3.png",
									"../images/water_winter_4.png");
							var selectnum = Math.floor(Math.random()
									* imglist.length);
							var output = "<img src=" + imglist[selectnum] + " />";
							document.write(output);
						</script>
					</p>
				</div>
				<form th:action="@{/member/search}" method="post">
					<input type="hidden" name="username" th:value="${username}" /> <select
						class="category" name="category">
						<option value="">Category</option>
						<option th:each="category : ${categoryList}"><span
								th:text="${category.category}"></span></option>
					</select> <select class="level" name="level">
						<option value="">Level</option>
						<option value="1">Level1</option>
						<option value="2">Level2</option>
						<option value="3">Level3</option>
						<option value="4">Level4</option>
						<option value="5">Level5</option>
					</select>

					<button class="btn waves-effect waves-light searchBtn"
						type="submit"
						onclick="Materialize.showStaggeredList('#staggered-test')">
						<i class="material-icons right">search</i>Search
					</button>
				</form>
			</div>
		</div>
		<div class="col s2 m3 l1"></div>
		<div class="col s12 m12 l8">
			<div class="row">
				<div class="col s12 m12">
					<div th:if="${not #strings.isEmpty(headerStr)}">
						<div class="card-panel teal">
							<span class="white-text" th:text="${headerStr}"></span>
						</div>
					</div>
					<div th:if="${#strings.isEmpty(headerStr)}">
						<div class="card-panel teal">
							<span class="white-text">Welcome to Poi</span>
						</div>
					</div>
				</div>
				<div class="col s12 m12">
					<div class="card-panel">
						<div class="main">
							<!-- 初期表示 -->
							<div th:if="${#strings.isEmpty(headerStr)}">
								<span>1. Let's create a memo.</span>
								<p>
									<img src="../images/create.png" class="introduction pc"
										id="intro-1" />
									<img src="../images/create-sp.png" class="introduction tablet"
										id="intro-1" />
									<img src="../images/create-sp.png" class="introduction sp"
										id="intro-1" />
								</p>
								<span>2. You can use the search function.</span>
								<p>
									<img src="../images/search.png" class="introduction pc"
										id="intro-2" />
									<img src="../images/search-sp.png" class="introduction tablet"
										id="intro-2" />
									<img src="../images/search-sp.png" class="introduction sp"
										id="intro-2" />
								</p>
								<span>3. How you use depends on you!</span>
								<p>
									<img src="../images/you.png" class="introduction" id="intro-3" />
								</p>
							</div>
							<!-- 記事が見つからなかった場合 -->
							<div th:if="${resultNoArticle != null}">
								<div th:text="${resultNoArticle}"></div>
							</div>
							<!-- 記事が見つかった場合 -->
							<!-- for sp -->
							<div id="js-check-sp" class="check-size is-sp">
								<div class="post" th:each="article : ${resultArticleList}">
									<div class="hidden_box_sp">
									<label th:for="'sp' + *{article.id}">
									<div class="one-line_sp">
									<p th:switch="*{article.level}">
											<span th:case="1"> <img src="../images/level1.png"
												class="icon-level" id="level1"
												th:attr="src=@{/images/level1.png},alt=#{icon-level1}" />
											</span>
											<span th:case="2"> <img src="../images/level2.png"
												class="icon-level" id="level2"
												th:attr="src=@{/images/level2.png},alt=#{icon-level2}" />
											</span>
											<span th:case="3"> <img src="../images/level3.png"
												class="icon-level" id="level3"
												th:attr="src=@{/images/level3.png},alt=#{icon-level3}" />
											</span>
											<span th:case="4"> <img src="../images/level4.png"
												class="icon-level" id="level4"
												th:attr="src=@{/images/level4.png},alt=#{icon-level4}" />
											</span>
											<span th:case="5"> <img src="../images/level5.png"
												class="icon-level" id="level5"
												th:attr="src=@{/images/level5.png},alt=#{icon-level5}" />
											</span>
										</p>
										<a href="/member/update.html"
												th:href="@{/member/update/__${article.id}__}">
											<p><img
												src="../images/icon-edit.png"
												id="updateArticle"
												th:attr="src=@{/images/icon-edit-sp.png},alt=#{icon-edit}" />
											</p>
											</a>
										<a href=""
												th:name="@{/member/delete/__${article.id}__}"
												onclick="confirmDelete(this); return false;">
											<p><img
												src="../images/icon-delete.png"
												id="deleteArticle"
												th:attr="src=@{/images/icon-delete-sp.png},alt=#{icon-delete}" />
											</p>
											</a>
										
									<p><span id="updateTime"
										th:text="*{#temporals.format(article.updatedAt, 'yyyy/MM/dd HH:mm')}">
									</span>
									</p>
									</div>
											<span th:hidden="*{article.id}"></span>
											<span th:hidden="*{article.level}"></span> 
											<span th:text="*{article.title}" id="title"></span>
											    <input type="hidden"
												name="articleId" th:value="*{article.id}" /> <input
												type="hidden" name="categoryStatus"
												th:value="${categoryStatus}" /> <input type="hidden"
												name="levelStatus" th:value="${levelStatus}" />
									</label> <input type="checkbox" th:id="'sp' + *{article.id}" />
									<div class="hidden_show_sp">
										<!--非表示ここから-->
										<pre th:text="*{article.body}"></pre>
										<!--ここまで-->
									</div>
									</div>
								</div>
							</div>
							<!-- for tablet -->
							<div id="js-check-tablet" class="check-size is-tablet">
								<div class="post" th:each="article : ${resultArticleList}">
									<div class="hidden_box_tb">
									<label th:for="'tb' + *{article.id}">
									<div class="one-line_tb">
										<p th:switch="*{article.level}">
											<span th:case="1"> <img src="../images/level1.png"
												class="icon-level" id="level1"
												th:attr="src=@{/images/level1.png},alt=#{icon-level1}" />
											</span>
											<span th:case="2"> <img src="../images/level2.png"
												class="icon-level" id="level2"
												th:attr="src=@{/images/level2.png},alt=#{icon-level2}" />
											</span>
											<span th:case="3"> <img src="../images/level3.png"
												class="icon-level" id="level3"
												th:attr="src=@{/images/level3.png},alt=#{icon-level3}" />
											</span>
											<span th:case="4"> <img src="../images/level4.png"
												class="icon-level" id="level4"
												th:attr="src=@{/images/level4.png},alt=#{icon-level4}" />
											</span> 
											<span th:case="5"> <img src="../images/level5.png"
												class="icon-level" id="level5"
												th:attr="src=@{/images/level5.png},alt=#{icon-level5}" />
											</span>
											</p>
											<span th:hidden="*{article.id}"></span>
											<span th:hidden="*{article.level}"></span> 
											<p>
											  <span th:text="*{article.title}" id="title"></span>
											</p>
											    <input type="hidden"
												name="articleId" th:value="*{article.id}" /> <input
												type="hidden" name="categoryStatus"
												th:value="${categoryStatus}" /> <input type="hidden"
												name="levelStatus" th:value="${levelStatus}" />
											<p class="right">
											<a href=""
												th:name="@{/member/delete/__${article.id}__}"
												onclick="confirmDelete(this); return false;">
											<img
												src="../images/icon-delete.png"
												id="deleteArticle"
												th:attr="src=@{/images/icon-delete.png},alt=#{icon-delete}" />
											</a>
											</p>
											<p class="right">
											<a href="/member/update.html"
												th:href="@{/member/update/__${article.id}__}">
											<img
												src="../images/icon-edit.png"
												id="updateArticle"
												th:attr="src=@{/images/icon-edit.png},alt=#{icon-edit}" />
											</a>
											</p>
										</div>
										<span class="right" id="updateTime"
										th:text="*{#temporals.format(article.updatedAt, 'yyyy/MM/dd HH:mm')}">
									</span>
									</label> <input type="checkbox" th:id="'tb' + *{article.id}" />
									<div class="hidden_show_tb">
										<!--非表示ここから-->
										<pre th:text="*{article.body}"></pre>
										<!--ここまで-->
									</div>
									</div>
								</div>
							</div>
							<!-- for pc -->
							<div id="js-check-pc" class="check-size is-pc">
								<div class="post" th:each="article : ${resultArticleList}">
								<div class="hidden_box_pc">
									<label th:for="'pc' + *{article.id}">
										<div th:switch="*{article.level}">
										<div class="one-line_pc">
											<p><span th:case="1"> <img src="../images/level1.png"
												class="icon-level" id="level1"
												th:attr="src=@{/images/level1.png},alt=#{icon-level1}" />
											</span></p> 
											<p><span th:case="2"> <img src="../images/level2.png"
												class="icon-level" id="level2"
												th:attr="src=@{/images/level2.png},alt=#{icon-level2}" />
											</span></p> 
											<p><span th:case="3"> <img src="../images/level3.png"
												class="icon-level" id="level3"
												th:attr="src=@{/images/level3.png},alt=#{icon-level3}" />
											</span></p> 
											<p><span th:case="4"> <img src="../images/level4.png"
												class="icon-level" id="level4"
												th:attr="src=@{/images/level4.png},alt=#{icon-level4}" />
											</span></p> 
											<p><span th:case="5"> <img src="../images/level5.png"
												class="icon-level" id="level5"
												th:attr="src=@{/images/level5.png},alt=#{icon-level5}" />
											</span></p>
											<span th:hidden="*{article.id}"></span>
											<span th:hidden="*{article.level}"></span> 
											<p><span th:text="*{article.title}" id="title"></span></p>
											    <input type="hidden"
												name="articleId" th:value="*{article.id}" /> <input
												type="hidden" name="categoryStatus"
												th:value="${categoryStatus}" /> <input type="hidden"
												name="levelStatus" th:value="${levelStatus}" />
											<p class="right">
											<a href=""
												th:name="@{/member/delete/__${article.id}__}"
												onclick="confirmDelete(this); return false;">
											<img
												src="../images/icon-delete.png"
												id="deleteArticle"
												th:attr="src=@{/images/icon-delete.png},alt=#{icon-delete}" />
											</a>
											</p>
											<p class="right">
											<a href="/member/update.html"
												th:href="@{/member/update/__${article.id}__}">
											<img
												src="../images/icon-edit.png"
												id="updateArticle"
												th:attr="src=@{/images/icon-edit.png},alt=#{icon-edit}" />
											</a>
											</p>
										</div>
										</div>
										<span class="right" id="updateTime"
										th:text="*{#temporals.format(article.updatedAt, 'yyyy/MM/dd HH:mm')}">
									</span>
									</label> <input type="checkbox" th:id="'pc' + *{article.id}" />
									<div class="hidden_show_pc">
										<!--非表示ここから-->
										<pre th:text="*{article.body}"></pre>
										<!--ここまで-->
									</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>